<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Wheel separation and radius properties -->

  <!-- Wheel link names (should match those in rectangular-base) -->
  <xacro:property name="left_front_wheel" default="lfwheel_joint"/>
  <xacro:property name="right_front_wheel" default="rfwheel_joint"/>
  <xacro:property name="left_rear_wheel" default="lbwheel_joint"/>
  <xacro:property name="right_rear_wheel" default="rbwheel_joint"/>

  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
    <num_wheel_pairs>2</num_wheel_pairs>
    <left_joint>lbwheel_joint</left_joint>
    <left_joint>lfwheel_joint</left_joint>
    <right_joint>rfwheel_joint</right_joint>
    <right_joint>rbwheel_joint</right_joint>
    <wheel_separation>0.6</wheel_separation>
    <wheel_diameter>0.3</wheel_diameter>
      <max_wheel_torque>500.0</max_wheel_torque>    
      <max_linear_acceleration>5.0</max_linear_acceleration>
      <topic>cmd_vel</topic>
      <odom_topic>odom</odom_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>
      <odom_publisher_frequency>30</odom_publisher_frequency>
      <tf_topic>/tf</tf_topic>

    </plugin>
  </gazebo>
</robot>
