<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robobase">

<xacro:property name="base_length" default="0.6"/>
<xacro:property name="base_width" default="0.6"/>
<xacro:property name="base_height" default="0.3"/>
<xacro:property name="wheel_radius" default="0.3"/>
<xacro:property name="wheel_width" default="0.25"/>

<xacro:include filename="$(find robobase_description)/models/bases/rectangular-base.urdf.xacro"/>
<xacro:include filename="$(find robobase_description)/models/sensors/camera.urdf.xacro"/>

</robot>





